[Unit]
Description=pifancontrol

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/pifancontrol/fan_control.py
Restart=on-failure
User=ubuntu

[Install]
WantedBy=default.target